<div class="text-center" style="padding-bottom: 10px">
  <style>
    a {
        margins:0;
    }
  </style>
  <%= link_to 'Wine Details', wine_details_path(wine_details: 'details'),
              class: '
              border-t
              border-l
              border-r
              hover:bg-gray-300
              text-gray-800
              hover:text-gray-900
              hover:no-underline
              my-0 py-2 px-4 mx-0' %>
  <%= link_to 'Supplier Details', wine_details_path(wine_details: 'supplier'),
              class: '
              border-t
              border-l
              border-r
              hover:bg-gray-300
              text-gray-800
              hover:text-gray-900
              hover:no-underline
              my-0 py-2 px-4 mx-0' %>
</div>
