<div class="text-center" style="padding-bottom: 10px">
  <%= link_to 'Wine Details', wine_details_path(wine_details: 'details'),
              class: 'btn btn-sm btn-raised btn-light' %>
  <%= link_to 'Supplier Details', wine_details_path(wine_details: 'supplier'),
              class: 'btn btn-sm btn-raised btn-light' %>
</div>
