<h1>Editing Wine</h1>

<%= turbo_frame_tag 'wines' do %>
  <div class="w-full">
    <%= render 'form', wine: @wine %>
  </div>
  <%= link_to 'Show', @wine %> |
  <%= link_to 'Back', wines_path %>
<% end %>

